[project]
name = "recipe-model"
version = "0.1.0"
description = "Add a short description here"
authors = ["Bas Zalmstra <zalmstra.bas@gmail.com>"]
channels = ["conda-forge"]
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]

[tasks]
generate = "python model.py"
genvariant = "python variant_model.py"
fmt = "ruff format model.py variant_model.py"
lint = "ruff model.py variant_model.py --fix"
test = "pytest"

[dependencies]
python = "3.12.0.*"
pydantic = "2.5.1.*"
ruff = "0.1.6.*"
pytest = "7.4.3.*"
pyyaml = "6.0.1.*"
jsonschema = "4.20.0.*"
