name: CI
on:
  push:
    branches:
      - main
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  run_tests:
    name: ${{ matrix.pixi-environment }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        pixi-environment:
          - py312
          - py311
          - py310
    steps:
        - uses: actions/checkout@v5
        - uses: prefix-dev/setup-pixi@v0.9.0
          with:
            pixi-version: "latest"
            environments: ${{ matrix.pixi-environment }}
        - name: run tests
          run: |
           pixi run --environment ${{ matrix.pixi-environment }} tests
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.9.0
      - name: Format and lint
        run: |
          pixi run fmt
          pixi run lint 
      - name: Assert no changes
        run: git diff --exit-code
